<dx-form id="form"
	[formData]="user"><dxi-item itemType="group" cssClass="second-group" [colCount]="2">
		<dxi-item itemType="group">
			<dxi-item dataField="Login"></dxi-item>
      <dxi-item dataField="Password"></dxi-item>
    </dxi-item>
    </dxi-item>
    <dxi-item itemType="group">
      <dxi-item>
        <div class="dx-field">
          <div class="dx-field-value">
              <dx-button width="80" [text]="Login" [type]="default"></dx-button>
          </div>
      </div>
      </dxi-item>
    </dxi-item>
    </dx-form>



  